@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared styles */
.color-1{color: #4E47FF;}
.color-2{color: #252432;}
.color-3{color: rgba(37, 36, 50, 0.5);}
.all-section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
.btn-primary{
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
    cursor: pointer;
    transition: all .3s;
}
.btn-primary:hover{
    background-color: #ff7300;
    scale: 1.1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.logo{
    font-size: 34px;
    font-weight: 800;
}
.title-container{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.title-container .title{
    font-size: 65px;
    font-weight: bold;
    margin: 150px 0 35px;
}
.title-container .btn-primary{
    margin-bottom: 150px;
}

/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Action section styles */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 115px 0;
    font-family: "Raleway", sans-serif;
}
.action-section .subtitle{
    font-size: 26px;
    line-height: 35px;
    opacity: .5;
    margin: 25px 0;

}
.action-section img{
    max-width: 400px;
    border-radius: 50px;
}

/* Productive Users styles */
.productive-user{
    background-color: rgb(78, 71, 255, .1);
    border-radius: 25px;
    padding: 50px 140px;
    margin-bottom: 140px;

}
.productive-user .title{
    text-align: center;
    margin-bottom: 40px;
}
.data{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.info .info-title{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
}
.font .info-name{
    font-size: 20px;
}
